<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Clients</title>
		<meta charset="utf-8">
		<style>
			input {
				display:block;
			}
		</style>
	</head>
	<body>
		<main>
      <form method="POST" action="/clients">
        <input placeholder="Username" type="text" name="username">
        <input placeholder="Passcode" type="text" name="passcode">
        <input type="submit" value="Login">
      </form>
		</main>
		<script>

    </script>
	</body>
</html>
